@model IEnumerable<mascota.Models.MascotaAdoptante>

@{
    ViewData["Title"] = "Lista de Adopciones";
}

<h2 class="mb-4">Lista de Adopciones</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nombre de la Mascota</th>
            <th>Nombre del Adoptante</th>
            <th>Estado de la Adopción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var adopcion in Model)
        {
            <tr>
                <td>@adopcion.Mascota.Nombre</td>
                <td>@adopcion.Adoptante.Nombre</td>
                <td>@adopcion.Mascota.Estado</td>
            </tr>
        }
    </tbody>
</table>
